<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.freelance.netanel.androidsearchapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".domain.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_app"
        android:label="@string/title.app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".ui.search_view.SearchActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <data android:scheme="searchapp"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>

        </activity>
        <activity
            android:name=".ui.product_view.ProductActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.product_view.ProductWebViewActivity"
            android:theme="@style/AppTheme.NoActionBar" />

    </application>

</manifest>